<div class="end-game-container">
    <div class="results">
        <h2>Game Summary</h2>
        <div>
            @for (guess of guesses; track $index) {
                <div class="summary-item">
                    <h3>Location {{ $index + 1 }}</h3>
                    <p><span class="label">Distance:</span> {{ formatDistance(guesses[$index].distance) }}</p>
                    <p><span class="label">Points:</span> {{ guesses[$index].score }}</p>
                </div>
            }
        </div>
    </div>
    <div class="results">
        <p class="label">Final Score:</p>
        <div class="score">
            <span>{{ game.getTotalScore() }}</span>
        </div>
    </div>
    <button class="btn" (click)="restartGame()">
        Play Again
    </button>
</div>