<div class="landing-container">
  <h1>GUESS THE COORDINATES!</h1>

  <div class="description">
    <p>You will be shown a series of images. Analyse them to determine the coordinates of the photographer.</p>
    <p>Enter a latitude and longitude for each location. Try get as close as possible!</p>
    <p>Up to 15 points can be earned for each image. Guess within atleast 50m to score points.</p>
    <p>Good luck!</p>
  </div>

  <button class="btn" (click)="startGame()">
    Start Game
  </button>
</div>