/* You can add global styles to this file, and also import other style files */
@import 'leaflet/dist/leaflet.css';

:root {
    // fonts
    --font-main: 'Courier New', Courier, monospace;

    // look at angular material themeing
    // oceany forest theme
    --bg-primary: #101d15;
    --bg-secondary: #0d533c;
    --bg-tertiary: #71bbb9;
    --bg-black: #000000;
    --white: #ffffff;
    --bg-muted: #3b834d;
    
    --text-main: #f0f0f0;
    --text-muted: #888888;

    --hover: #00cc7a;
    
    --border-color: #444444;
    --error-color: #ff4444;

    // earthy desert grassland theme.
    // #984216;
    // #e4d6c5;
    // $78898f;
    // 8d957e;
}

.leaflet-tooltip {
    font-family: var(--font-main);
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary); 
    font-family: var(--font-main);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    color: var(--bg-lightblue);
}

.btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--bg-secondary);
    color: var(--text-main);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-main);
    text-transform: uppercase;
    transition: transform 0.2s, background-color 0.2s;
    display: inline-block; 

    &:hover {
        background-color: var(--bg-tertiary);
        transform: scale(1.05);
    }

    &:disabled {
        background: var(--bg-muted);
        color: var(--text-muted);
        cursor: not-allowed;
        transform: none;
    }

    &.centered {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}